################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/NP.Utilities
/src/bin/Debug/net5.0
/src/obj
/src/NP.Utilities.1.0.8.nupkg
/Tests/SerializationTest/.vs/SerializationTest
/Tests/SerializationTest/bin/Debug/net6.0
/Tests/SerializationTest/obj/Debug/net6.0
/Tests/SerializationTest/obj
/Tests/ExpressionTest/.vs/ExpressionTest
/Tests/ExpressionTest/obj
/Tests/ExpressionTest/bin/Debug/net6.0
/src/bin/Debug/net6.0
/Tests/ExpressionTest/.vs
*.nupkg
/src/.vs/ProjectEvaluation
/Tests/SerializationTest/.vs
